<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright 2013-2016 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Context>
  <Context displayName="PegaRULES">
		<Resource name="jdbc/PegaRULES"
				auth="Container"
				type="javax.sql.DataSource"
				maxActive="20"
				maxIdle="10"
				maxWait="-1"
				driverClassName="org.postgresql.Driver"
				url="jdbc:postgresql://pega7-2.cny9sju97ute.us-east-1.rds.amazonaws.com:5432/pega7_2"
				username="pega"
				password="abcd1234"
				 />
				
<!--Environment name="url/initialization/explicittempdir" value="e:/Tomcat7/System1/work/Catalina/localhost/prweb" type="java.lang.String" /-->				
<Environment name="prconfig/database/databases/PegaRULES/defaultSchema" value="rules" type="java.lang.String" />
<Environment name="prconfig/database/databases/PegaDATA/defaultSchema" value="data" type="java.lang.String" />			

</Context>
